// 
// Colors
// 

// Pre-state grayscale colors used in other variables

$gray-800: #343a40;

// Override Bootstrap color system

$slate-primary: #495057;
$slate-secondary: #343a40;

// Override Bootstrap default state colors

$primary: $slate-primary;
$secondary: $slate-secondary;

// Retain original orange variable (if referenced elsewhere)
$orange: #bd5d38;
